.App{
    display: flex;
    & .outlet{
        width: 70%;
        height: 90vh;
        margin-top: 50px;
       /// display: flex;
       // align-items: center;
       // justify-content: center;
    }
}