.App{
    display: flex;
    max-width: 1440px;
    min-width: 1000px;
    margin: auto;
    position: relative;
    & .outlet{
        width: 70%;
        height: 90vh;
        margin-top: 50px;
    }
}