body {
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-blend-mode: screen;
  color: rgb(190, 184, 184);
  background-image: url('../src/images/walPapers/6.jpg');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Raleway", sans-serif;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
a{
  text-decoration: none;
  color: black;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
input{
  outline: none;
}